@charset "UTF-8";
/*
/*	-color.scss
/*	カラーパレット
/*----------------------------------------------------*/
/*
/*	-setting.scss
/*	normalize.cssで最適化したエレメントをサイト用に初期化する
/*----------------------------------------------------*/
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.47;
}

a {
  color: #004b84;
}

a:hover {
  color: #ad102f;
}

#markup_wrap {
  padding: 0 1.33%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

dd {
  margin-left: 0;
}

/*
/*	_utility.scss
/*	モジュールで頻出するスタイルをカプセル化する
/*	モジュールを作る時はこちらの.scssを必ず確認する。
/*----------------------------------------------------*/
/* el-box〜で使用 */
.mod-box-books_title, .mod-box-products_title {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.mod-box-books_text, .mod-box-products_text, .mod-box-error_text {
  margin: 0;
}

.mod-box-books_author, .mod-box-products_price {
  margin: 15px 0 0;
}

/*
/*	-kani.scss
/*	自作のSassライブラリ
/*----------------------------------------------------*/
/* clearfix */
.el-heading-text-H1_float:after,
.el-heading-text-H2_float:after,
.el-heading-text-H3_float:after, .el-clearfixOld:after, .el-clearfix:after {
  content: "";
  clear: both;
  display: table;
}

/* IE6/7に対応したclearfix */
.el-heading-text-H1_float,
.el-heading-text-H2_float,
.el-heading-text-H3_float, .el-clearfixOld {
  *zoom: 1;
}

/* アイコンのスプライト表示 */
/* アイコンのスプライト表示(PC) */
/*
/*	-element.scss
/*	_commonParts.htmlで使われているエレメントリストのSass
/*----------------------------------------------------*/
/* 汎用 */
/* 汎用マージン */
.el-marginTop00 {
  margin-top: 0 !important;
}

.el-marginBottom20 {
  margin-bottom: 20px !important;
}

/* 見出し（左側ボーダー） */
.el-heading-borderLeft {
  padding-left: 10px;
  border-left: solid 4px #009944;
}

/* 見出し（下側ボーダー） */
.el-heading-borderBottom {
  border-bottom: solid 2px #CCC;
}

/* 見出し（L字ボーダー） */
/* 背景画像を使用&#9312; */
.el-heading-borderBottom_bg {
  padding-bottom: 2px;
  background: url(..//images/bg-heding-bd-bottom.png) left bottom repeat-x;
}

/* 外側にdivを使用&#9312; */
.el-heading-wrap_borderLeft {
  border-left: solid 4px #009944;
}
.el-heading-wrap_borderLeft .el-heading-borderBottom {
  padding-left: 10px;
}

/* 背景画像を使用&#9313; */
.el-heading-borderLeft_bg {
  padding-left: 14px;
  background: url(..//images/bg-heding-bd-left.png) left top repeat-y;
}

/* 外側にdivを使用&#9313; */
.el-heading-wrap_borderBottom {
  margin-bottom: 20px;
  border-bottom: solid 2px #CCC;
}
.el-heading-wrap_borderBottom .el-heading-borderLeft {
  margin-bottom: 0;
}

/* 見出し（右端にテキストリンク） */
.el-heading-text-H1,
.el-heading-text-H2,
.el-heading-text-H3 {
  display: table;
  width: 100%;
  margin: 20px 0;
  border-bottom: solid 2px #CCC;
}

.el-heading-text-h {
  display: table-cell;
  margin: 0;
  vertical-align: bottom;
}

.el-heading-text {
  display: table-cell;
  margin: 0;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: right;
  vertical-align: bottom;
}

.el-heading-text-H1_inline,
.el-heading-text-H2_inline,
.el-heading-text-H3_inline {
  margin: 20px 0;
  border-bottom: solid 2px #CCC;
}

/* 改行コードは半角スペース1つ≒0.35em分空くので注意 */
.el-heading-text-h_inline,
.el-heading-text_inline {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
}

.el-heading-text-h_inline {
  width: 70%;
}

.el-heading-text_inline {
  width: 28%;
  padding-left: 2%;
  margin-left: -0.35em;
  padding-bottom: 2px;
  text-align: right;
}
.el-heading-text_inline.dbg-error {
  margin-left: 0;
}

.el-heading-text-H1_float,
.el-heading-text-H2_float,
.el-heading-text-H3_float {
  margin: 20px 0;
  border-bottom: solid 2px #CCC;
}

.el-heading-text-h_float {
  float: left;
  margin: 0;
}

.el-heading-text_float {
  float: right;
  margin: 0;
}

.el-heading-text-H1_float .el-heading-text-h {
  margin-bottom: -0.65em;
}

.el-heading-text-H2_float .el-heading-text-h {
  margin-bottom: -0.4em;
}

.el-heading-text-H3_float .el-heading-text-h {
  margin-bottom: -0.083em;
}

.el-heading-text-H1_float .el-heading-text_float {
  padding-top: 1.3em;
}

.el-heading-text-H2_float .el-heading-text_float {
  padding-top: 0.6em;
}

.el-heading-text-H3_float .el-heading-text_float {
  padding-top: 0.1em;
}

.el-heading-text-H1_position,
.el-heading-text-H2_position,
.el-heading-text-H3_position {
  margin: 20px 0;
  border-bottom: solid 2px #CCC;
  position: relative;
}

.el-heading-text-h_position {
  margin: 0 115px 0 0;
}

.el-heading-text_position {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0.15em;
  left: auto;
  width: 105px;
  margin: 0;
}

/* 見出しテキスト */
.el-headingH1,
.el-headingH2,
.el-headingH3,
.el-headingH4,
.el-headingH5,
.el-headingH6 {
  margin: 20px 0;
  font-weight: bold;
}

.el-headingH1 {
  font-size: 2em;
}

.el-headingH2 {
  font-size: 1.5em;
}

.el-headingH3 {
  font-size: 1.17em;
}

.el-headingH4 {
  font-size: 1em;
}

.el-headingH5 {
  font-size: 0.83em;
}

.el-headingH6 {
  font-size: 0.67em;
}

/* ボックスモデル */
.el-box01, .el-box02, .el-box03 {
  padding: 13px;
}

/* ボックス1（白） */
.el-box01 {
  background-color: #F7F7F7;
}
.el-boxFrame.el-box01 {
  border-color: #CCC;
}
.el-boxDoubleFrame_shadow.el-box01 {
  box-shadow: 0 0 0 3px #CCC inset, 0 0 0 4px #F7F7F7 inset, 0 0 0 5px #CCC inset;
}
.el-boxDoubleFrame_shadow.el-boxShadow.el-box01 {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25), 0 0 0 3px #CCC inset, 0 0 0 4px #F7F7F7 inset, 0 0 0 5px #CCC inset;
}
.el-boxDoubleFrame_shadow.el-boxShadowInset.el-box01 {
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.25) inset, 0 0 0 3px #CCC inset, 0 0 0 4px #F7F7F7 inset, 0 0 0 5px #CCC inset;
}
.el-boxDoubleFrame_pseudo.el-box01 {
  border-color: #CCC;
}
.el-boxDoubleFrame_pseudo.el-box01:before {
  border-color: #CCC;
}
.el-boxBalloon_sprite.el-box01 .el-boxBalloon_sprite_arrow {
  background-position: 0 -2px;
}
.el-boxBalloon_sprite.el-boxFrame.el-box01 .el-boxBalloon_sprite_arrow {
  background-position: 0 -18px;
}
.el-boxBalloon_sprite.el-boxShadow.el-box01 .el-boxBalloon_sprite_arrow {
  background-position: 0 -34px;
}
.el-boxBalloon_sprite.el-boxShadow.el-boxFrame.el-box01 .el-boxBalloon_sprite_arrow {
  background-position: 0 -50px;
}
.el-boxBalloon_border.el-box01:before {
  border-top-color: #CCC;
}
.el-boxBalloon_border.el-box01:after {
  border-top-color: #F7F7F7;
}
.el-boxBalloon_character.el-box01:before {
  color: #CCC;
}
.el-boxBalloon_character.el-box01:after {
  color: #F7F7F7;
}
.el-box01 .el-boxBalloon_transform_arrow:before {
  background-color: #F7F7F7;
}
.el-boxFrame.el-box01 .el-boxBalloon_transform_arrow:before {
  border-color: #CCC;
}

/* ボックス2（桃） */
.el-box02 {
  background-color: #fef1f4;
}
.el-boxFrame.el-box02 {
  border-color: crimson;
}
.el-boxDoubleFrame_shadow.el-box02 {
  box-shadow: 0 0 0 3px crimson inset, 0 0 0 4px #fef1f4 inset, 0 0 0 5px crimson inset;
}
.el-boxDoubleFrame_shadow.el-boxShadow.el-box02 {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25), 0 0 0 3px crimson inset, 0 0 0 4px #fef1f4 inset, 0 0 0 5px crimson inset;
}
.el-boxDoubleFrame_shadow.el-boxShadowInset.el-box02 {
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.25) inset, 0 0 0 3px crimson inset, 0 0 0 4px #fef1f4 inset, 0 0 0 5px crimson inset;
}
.el-boxDoubleFrame_pseudo.el-box02 {
  border-color: crimson;
}
.el-boxDoubleFrame_pseudo.el-box02:before {
  border-color: #fef1f4;
}
.el-boxBalloon_sprite.el-box02 .el-boxBalloon_sprite_arrow {
  background-position: 0 -66px;
}
.el-boxBalloon_sprite.el-boxFrame.el-box02 .el-boxBalloon_sprite_arrow {
  background-position: 0 -82px;
}
.el-boxBalloon_sprite.el-boxShadow.el-box02 .el-boxBalloon_sprite_arrow {
  background-position: 0 -98px;
}
.el-boxBalloon_sprite.el-boxShadow.el-boxFrame.el-box02 .el-boxBalloon_sprite_arrow {
  background-position: 0 -114px;
}
.el-boxBalloon_border.el-box02:before {
  border-top-color: crimson;
}
.el-boxBalloon_border.el-box02:after {
  border-top-color: #fef1f4;
}
.el-boxBalloon_character.el-box02:before {
  color: crimson;
}
.el-boxBalloon_character.el-box02:after {
  color: #fef1f4;
}
.el-box02 .el-boxBalloon_transform_arrow:before {
  background-color: #fef1f4;
}
.el-boxFrame.el-box02 .el-boxBalloon_transform_arrow:before {
  border-color: crimson;
}

/* ボックス3（水色） */
.el-box03 {
  background-color: #eaf6ff;
  /* 崩れシミュレーションのため実装せず */
  /*
  	&.el-boxDoubleFrame_shadow.el-boxShadow{
  		box-shadow: 1px 1px 4px 1px $color-shadow, 0 0 0 3px $color-blue inset, 0 0 0 4px $color-l-blue inset, 0 0 0 5px $color-blue inset;
  	}
  	&.el-boxDoubleFrame_shadow.el-boxShadowInset{
  		box-shadow: 0 0 10px 6px $color-shadow inset, 0 0 0 3px $color-blue inset, 0 0 0 4px $color-l-blue inset, 0 0 0 5px $color-blue inset;
  	}
  */
}
.el-boxFrame.el-box03 {
  border-color: #0068b7;
}
.el-boxDoubleFrame_shadow.el-box03 {
  box-shadow: 0 0 0 3px #0068b7 inset, 0 0 0 4px #eaf6ff inset, 0 0 0 5px #0068b7 inset;
}
.el-boxDoubleFrame_pseudo.el-box03 {
  border-color: #0068b7;
}
.el-boxDoubleFrame_pseudo.el-box03:before {
  border-color: #eaf6ff;
}
.el-boxBalloon_sprite.el-box03 .el-boxBalloon_sprite_arrow {
  background-position: 0 -130px;
}
.el-boxBalloon_sprite.el-boxFrame.el-box03 .el-boxBalloon_sprite_arrow {
  background-position: 0 -146px;
}
.el-boxBalloon_sprite.el-boxShadow.el-box03 .el-boxBalloon_sprite_arrow {
  background-position: 0 -162px;
}
.el-boxBalloon_sprite.el-boxShadow.el-boxFrame.el-box03 .el-boxBalloon_sprite_arrow {
  background-position: 0 -178px;
}
.el-boxBalloon_border.el-box03:before {
  border-top-color: #0068b7;
}
.el-boxBalloon_border.el-box03:after {
  border-top-color: #eaf6ff;
}
.el-boxBalloon_character.el-box03:before {
  color: #0068b7;
}
.el-boxBalloon_character.el-box03:after {
  color: #eaf6ff;
}
.el-box03 .el-boxBalloon_transform_arrow:before {
  background-color: #eaf6ff;
}
.el-boxFrame.el-box03 .el-boxBalloon_transform_arrow:before {
  border-color: #0068b7;
}

.el-boxFrame {
  border-style: solid;
  border-width: 1px;
}

.el-boxRound {
  border-radius: 10px;
}

.el-boxShadow {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
}

.el-boxShadowInset {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25) inset;
}

/* スタイルをマージ（検証のため.el-box02のみで実装） */
.el-box02.el-boxShadow.el-boxShadowInset {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25), 0 0 8px 1px rgba(0, 0, 0, 0.25) inset;
}

.el-boxBalloon_border {
  position: relative;
}

.el-boxBalloon_character {
  position: relative;
}

/* 二重線ボックス */
.el-boxDoubleFrame {
  padding: 1px;
  border-style: solid;
  border-width: 3px;
}

.el-boxDoubleFrame_css {
  border-style: double;
  border-width: 5px;
}

.el-boxDoubleFrame_shadow {
  padding: 18px;
}

.el-boxDoubleFrame_pseudo {
  position: relative;
  z-index: 1;
  border-style: solid;
  border-width: 5px;
}

.el-boxDoubleFrame_pseudo:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: auto;
  bottom: auto;
  left: -2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  min-height: 100%;
  z-index: 2;
}

/* 吹き出し付きボックス */
.el-boxBalloon_sprite,
.el-boxBalloon_border,
.el-boxBalloon_character,
.el-boxBalloon_transform {
  position: relative;
}

.el-boxBalloon_sprite_arrow {
  position: absolute;
  display: block;
  top: auto;
  right: auto;
  bottom: -14px;
  left: 50%;
  width: 16px;
  height: 14px;
  margin-left: -8px;
  background-image: url(../images/bg-balloonarrow.png);
  background-repeat: no-repeat;
}

.el-boxFrame.el-boxBalloon_border:before {
  content: "";
  position: absolute;
  display: block;
  top: auto;
  right: auto;
  bottom: -16px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -7px;
  border-style: solid;
  border-top-width: 13px;
  border-right-width: 7px;
  border-left-width: 7px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.el-boxShadow.el-boxFrame.el-boxBalloon_border:before {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.el-boxBalloon_border:after {
  content: "";
  position: absolute;
  display: block;
  top: auto;
  right: auto;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -6px;
  border-style: solid;
  border-top-width: 12px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.el-boxShadow.el-boxBalloon_border:after {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.el-boxShadow.el-boxFrame.el-boxBalloon_border:after {
  box-shadow: 0 0 0 0;
}

.el-boxFrame.el-boxBalloon_character:before,
.el-boxBalloon_character:after {
  content: "\0025bc";
  position: absolute;
  display: block;
  left: 50%;
  font-family: Arial, sans-serif !important;
}

.el-boxFrame.el-boxBalloon_character:before {
  top: auto;
  right: auto;
  bottom: -15px;
  margin-left: -8px;
  font-size: 18px;
  line-height: 18px;
}

.el-boxShadow.el-boxFrame.el-boxBalloon_character:before {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.el-boxBalloon_character:after {
  top: auto;
  right: auto;
  bottom: -13px;
  margin-left: -7px;
  font-size: 16px;
  line-height: 16px;
}

.el-boxShadow.el-boxBalloon_character:after {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.el-boxShadow.el-boxFrame.el-boxBalloon_character:after {
  text-shadow: 0 0 0 0;
}

.el-boxBalloon_transform_arrow {
  content: "";
  position: absolute;
  display: block;
  top: auto;
  right: auto;
  bottom: -21px;
  left: 50%;
  width: 20px;
  height: 21px;
  margin-left: -10px;
  overflow: hidden;
}

.el-boxBalloon_transform_arrow:before {
  content: "";
  position: absolute;
  display: block;
  top: -11px;
  right: auto;
  bottom: auto;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(67.5deg) skew(45deg) scale(1, 0.7);
  -moz-transform: rotate(67.5deg) skew(45deg) scale(1, 0.7);
  transform: rotate(67.5deg) skew(45deg) scale(1, 0.7);
}

.el-boxFrame .el-boxBalloon_transform_arrow:before {
  border-style: solid;
  border-width: 1px;
}

.el-boxShadow .el-boxBalloon_transform_arrow:before {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

/* 閉じるアイコン */
/* ボックスモデル内モジュール */
.mod-box-books_text {
  font-size: 12px;
}

.mod-box-products_price {
  text-align: right;
}

/* テキスト */
/* 行取り */
.el-txt_center {
  text-align: center !important;
}

.el-txt_right {
  text-align: right !important;
}

/* テキストサイズ */
.el-txt_s {
  font-size: 12px;
}

/* テキストカラー */
.el-txt_error {
  color: #c51236 !important;
}

.el-txt_attention {
  color: #d46b00 !important;
}

.el-txt_notes {
  color: #666 !important;
}

/* 注釈 */
.el-txt-bullet-notes {
  display: inline-block;
  position: relative;
  padding-left: 1.125em;
}
.el-txt-bullet-notes::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}

/* リンク */
.el-link_arrow_bd {
  padding-left: 14px;
  position: relative;
}
.el-link_arrow_bd:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 6px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}
.el-link_arrow_bd:before {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 3px;
  margin-top: -4px;
}

/* 外部リンク */
.el-link_external_bd {
  padding-right: 14px;
  position: relative;
}
.el-link_external_bd:before, .el-link_external_bd:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: auto;
  left: auto;
  width: 8px;
  height: 6px;
  border-style: solid;
  border-color: #004b84;
  background-color: #FFF;
  box-sizing: border-box;
}
.el-link_external_bd:before {
  border-width: 1px;
  right: 2px;
  margin-top: -2px;
}
.el-link_external_bd:after {
  right: 0;
  margin-top: -4px;
  border-top-width: 2px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.el-link_external_bd:hover:after, .el-link_external_bd:hover:before {
  border-color: #ad102f;
}

/* アンカー */
.el-link_anchor {
  display: inline-block;
  color: #004b84;
  position: relative;
  padding-right: 14px;
}

.el-link_anchor:hover {
  color: #ad102f;
  text-decoration: underline;
}

.el-link_anchor:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 0;
  margin-top: -5px;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

.el-link_anchor:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  display: block;
  width: 10px;
  height: 11px;
  margin-top: -5px;
  background-color: #004b84;
}

.el-link_anchor:hover:before {
  background-color: #ad102f;
}

/* clearfix→kani */
/*
/*	-element.scss
/*	_commonParts.htmlで使われている表示用モジュールのSass
/*----------------------------------------------------*/
.mod-parts-counter {
  counter-reset: mod-pts;
}

.mod-pts-H1 {
  margin: 0 0 1em;
  padding: 0.25em;
  font-size: 2.5em;
  font-weight: normal;
  background-color: #F2F2F2;
  border-bottom: none;
}

.mod-pts-H2 {
  margin-top: 40px;
  font-weight: normal;
  border-bottom: none;
}
.mod-pts-H2.is-countable {
  counter-reset: mod-pts2;
  position: relative;
  padding-left: 1.25em;
}
.mod-pts-H2.is-countable::before {
  content: "" counter(mod-pts) "";
  counter-increment: mod-pts;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  padding-top: 2px;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #999;
  border-radius: 100%;
  box-sizing: border-box;
}
.mod-pts-H2 + .mod-pts-H3 {
  margin-top: 20px;
}

.mod-pts-H3 {
  margin-top: 30px;
  padding: 10px;
  background-color: #F2F2F2;
}
.mod-pts-H3.is-countable {
  position: relative;
  padding-left: 1.125em;
}
.mod-pts-H3.is-countable::before {
  content: "" counter(mod-pts2) ".";
  counter-increment: mod-pts2;
  display: block;
  position: absolute;
  left: 0;
  text-align: center;
  box-sizing: border-box;
}

/* アコーディオン */
.mod-accordionList > dt {
  margin-bottom: 15px;
}

.mod-accordionList_bullet {
  color: #004b84;
  cursor: pointer;
  padding-right: 12px;
  position: relative;
}
.mod-accordionList_bullet:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 6px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}
.mod-accordionList_bullet:hover {
  color: #ad102f;
  text-decoration: underline;
}
.mod-accordionList_bullet:before {
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  margin-top: -4px;
}

.is-active .mod-accordionList_bullet {
  position: relative;
}
.is-active .mod-accordionList_bullet:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 6px;
  border-right-width: 4px;
  border-left-width: 4px;
  border-top-color: inherit;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.is-active .mod-accordionList_bullet:before {
  margin-top: -3px;
}

.mod-accordionList > dd {
  display: none;
}
